.center-heading{
    text-align: center;
}

.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    border: 1px solid  rgb(56, 147, 233);
    border-radius: 10px;
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 90%;
    height: 60%;
}

.text-input{
    width: 90%;
    padding: 15px;
    outline: none;
    border: 1px solid  rgb(56, 147, 233);
}

.button-input{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(56, 147, 233);
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

a{
    color: rgb(56, 147, 233);
    cursor: pointer;
}

p{
    margin: 5px;
}